<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="JSCrunch.PathToWatch" value="C:\LQA\Code\WebADFS\Scripts\Jasmine\Tests\Client"/>
    <add key="JSCrunch.TestPattern" value="*.Tests.ts"/>
    <add key="JSCrunch.TestRunnerExecutable" value="C:\Projects\JSCrunch\packages\Chutzpah.4.2.1\tools\chutzpah.console.exe"/>
    <add key="JSCrunch.TestRunnerParameters" value="&quot;{0}&quot; /testMode TypeScript /trace /junit results.xml"/>
  </appSettings>
</configuration>