<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="JSCrunch.PathToWatch" value="C:\Users\sande\Source\Repos\JSCrunchVerification\JSCrunchVerification\Scripts\Tests" />
    <add key="JSCrunch.TestPattern" value="*.Tests.ts" />
    <add key="JSCrunch.IncludeSubdirectories" value="True" />
    <add key="JSCrunch.TestRunnerExecutable" value="C:\Users\sande\Source\Repos\JSCrunchVerification\packages\Chutzpah.4.2.3\tools\chutzpah.console.exe" />
    <add key="JSCrunch.TestRunnerParameters" value="&quot;{0}&quot; /testMode TypeScript /UseSourceMaps /debug /trace /junit results.xml" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
